<!DOCTYPE html>
<html lang="en">
    <head>
        <title>About Me</title>
    </head>
    <body>
        <!--Beginning Title, Header, and Introduction-->
        <h1> About Me </h1>
        <h2>My name is Ryan Wojciechowski</h2>
        <h2>Here are a few things about me:</h2>
        <p>I am <strong>a senior</strong> at the University of Maryland studying Information Systems & OMBA.
        Upon graduation, I am contracted to begin as a Compliance Consultant with Crowe LLP, specifically
        with their DC Office.</p>
        <p>I am <em>so thankful</em> for this opportunity to begin my career for a variety of reasons. One of which is that
        I will be able to afford, and therefore become, a Ravens Season Ticket holder. Aside from that, I am also looking
        forward to traveling as a consultant. Here is where I am most excited to travel to:</p>

        <!--List 1, Ordered List-->
        <ol>
            <li>Los Angeles</li>
            <li>Fort Lauderdale</li>
            <li>Chicago</li>
            <li>New York City</li>
            <li>San Antonio</li>
        </ol>

        <p>When not traveling, I will have the opportunity to work from home. There are certainly a few benefits to this:</p>

        <!--List 2, Unordered List-->
        <ul>
            <li>Hanging out with my dog</li>
            <li>Being in a familiar area</li>
            <li>Local Amenities</li>
            <li>Small, quiet town</li>
            <li>No morning commute</li>
        </ul>

        <p>While at the University of Maryland, I have had the opportunity to take a few interesting courses. Below is
        a list of those which I found most interesting, with the semester in which I took them in noted:</p>

        <!--Table for Courses & Semesters Taken-->
        <table>
            <tr>
                <th>Course</th>
                <th>Semester Taken</th>
            </tr>
            <tr>
                <td>BMGT 221</td>
                <td>Fall 2021</td>
            </tr>
            <tr>
                <td>BMGT 302</td>
                <td>Spring 2022</td>
            </tr>
            <tr>
                <td>BMGT 332</td>
                <td>Fall 2021</td>
            </tr>
        </table>

        <!--URL links for hello.html page and two favorite websites-->
        <head>
            <title>Anchor Element</title>
        </head>

            <p>Click for my <a href="https://ryanwojo.pythonanywhere.com/hello">hello.html</a> page.</p>
            <p>Click for my <a href="https://www.rhsmith.umd.edu/">favorite website</a>.</p>
            <p>Click for my <a href="https://www.testudo.umd.edu/">second favorite website</a>.</p>

        <!--Image placement for Smith School logo-->
        <head>
            <title>Image Element</title>
        </head>

            <img src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png" width="267" height="72" />


    </body>
</html>