<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=divide-width, initial-scale=1">
    <center><img src="https://upload.wikimedia.org/wikipedia/en/thumb/a/ad/Smith_School_Logo.jpg/270px-Smith_School_Logo.jpg"></center>
    <title>{% block page_title %}{% endblock %}</title>

</head>
<body>
    <div class="container">
        <center><h1>{% block page_head %}{% endblock %}</h1></center>

        <center>{% block page_content %}{% endblock %}</center>
    </div>
</body>
</html>